

#product-overview{
  background:url("new-york.jpg");
  color:white;
  font-family: 'Lato', sans-serif;
  height:528px;
  width:100%;
  padding:10px;
  
}

#plans{
  
}
.section-title{
   color:rgb(80, 240, 80);
}
body{
  margin:0px;
}

.main-header{
  background:rgb(11, 187, 11);
  /*padding:8px 16px;
  width:100%;*/
  
}

.main-header > div{
  display:inline-block;
}

.main-header__brand{
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight:bold;
  vertical-align: middle;
  color:darkolivegreen;
  font-size:22px;
}

.main-nav{
  text-align:right;
  display:inline-block;
  width:calc(100% - 236px);
  vertical-align: middle;
}

.main-nav__items{
  display:inline-block;
  padding:0;
  margin:0;
  list-style:none;
  vertical-align: middle;
  text-decoration: none;
}


.main-nav__item{
  display:inline-block;
  text-align: right;
  vertical-align: middle;
  margin:0 16px;
  font-weight:bold;
  padding: 10px 0px;
  
}
.main-nav__item a:hover,
.main-nav__item a:active{
  color:white;
  border-bottom: solid 2px white;
}

.main-nav__items--link{
  color:darkolivegreen;
  text-decoration: none;
}

.main-nav__items--cta a{/*BEM naming specificatioon*/
  color:white;
  padding:8px 16px;
  border-radius: 45% ;
  background-color: red;
}

.main-nav__items--cta a:hover,
.main-nav__items--cta a:active{
   color:red;
   background: white;
   border:none;
}


